
body {
  padding-top: 330px;
}

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgba(23, 121, 186, 0.1);
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
}

.sticky-shrinknav-header-title {
  background-image: url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
      -ms-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #fefefe;
}

.sticky-shrinknav-header {
  width: 100%;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196e3;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  background-color: rgba(23, 121, 186, 0.9);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s ease;
}



.ftr{
    background-color: black;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: black;
    height: 6rem;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}


.travel-feature-card-header {
    margin-top: 30px;
    background-color: #56524b;
    padding: 10px 15px 5px 45px;
    position: relative;
    margin-top: 15px;
  }
  
  .travel-feature-card-header.icon:after {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fefefe;
  }
  
  .travel-feature-card-header.hotel-icon:after {
    content: "\f236";
  }
  
  .travel-feature-card-header.car-icon:after {
    content: "\f1b9";
  }
  
  .travel-feature-card-header .travel-feature-card-subtitle {
    float: left;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
  }
  
  .travel-feature-card-header-controls a {
    color: #fefefe;
  }
  
  .travel-feature-card-header-controls i {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }
  
  .travel-feature-card-image {
    margin-top: 5px;
  }
  
  .travel-feature-card-details {
    background: #f0f0f0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    color: #8a8a8a;
  }
  
  .travel-feature-card-details button.added-button {
    color: #505050;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 0.8em;
  }
  
  .travel-feature-card-details button.added-button img {
    margin-right: 5px;
  }
  
  .travel-feature-card-details button.added-button:hover {
    color: #505050;
    border: 1px solid #747474;
  }
  
  .travel-feature-card-details button.add-button {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 0.8em;
  }
  
  @media screen and (max-width: 39.9375em) {
    .travel-feature-card-content {
      padding-bottom: 15px;
      border-bottom: 1px solid #cacaca;
    }
  }
  
  .travel-feature-card-price {
    text-align: right;
  }
  
  @media screen and (max-width: 39.9375em) {
    .travel-feature-card-price {
      padding-top: 15px;
    }
    .travel-feature-card-price .price-subtext {
      margin-bottom: 0px;
    }
  }
  
  .travel-feature-card-price h6 {
    font-weight: 600;
    font-size: 1.3em;
    color: #0a0a0a;
    padding: 0;
    margin: 0;
  }
  
  .travel-feature-card-title {
    font-weight: 500;
    font-size: 1.25em;
    color: #0a0a0a;
  }
  
  .travel-feature-card-date-range {
    font-size: 0.9em;
    font-weight: 700;
    color: #0a0a0a;
  }
  
  .travel-feature-card-header-controls {
    float: right;
  }
  
  .travel-feature-card-header-controls i {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }
  
  
