body, html{
    height: 100%;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}     
 
nav{
    background-color: black;
    opacity: .7;
    
    
}

h2{
    margin-top: 0px;
}

.btn-floating{
    background-color: rgb(245, 236, 115);
}

.input{
    flex:1;
    margin-top: 25px;
    border-top-width: 5px;
    border-bottom-width: 7px;
    padding-top: 0;
    padding-bottom: 0;
}

.materials-icon{
    background-color: teal;
    color: black;
} 
    
.ftr {
    background-color: black;
    opacity: .5; 
    position: fixed; 
    bottom: 0; 
    color: white; 
    height: 3rem; 
    width: 100%; 
    text-align: center; 
    padding-top: 0;
}    

.leftCol {
    /* height: 120px;  */
    /* height: auto; change to auto when search button starts working */
    /* border: solid black;  */
    /* background-color: rgb(240, 81, 218); */
    /* background-image: linear-gradient(to right, rgb(240, 81, 218), rgb(245, 236, 115) , teal); */
    background-image: url(https://media0.giphy.com/media/Y2yw4LubyRCV6aphtj/giphy.gif?cid=ecf05e470c5fe95c28d66690683ac7d0ad76c74c8ad20b51&rid=giphy.gif);
    opacity: .7;
    margin: 0;
    border-radius: 10px;
    padding: 3rem;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    
}    
    
.rightCol{
    height: 84vh; 
    /* border: solid black;  */
    /* background-color: rgb(240, 81, 218); */
    background-image: linear-gradient(to right, rgb(87, 240, 95), teal , rgb(38, 23, 247)); 
    opacity: .7;
    margin: 3rem;
    border-radius: 10px;
    padding: 3rem;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}    

.materials-icons{
    background-color: rgb(38, 23, 247);
    color: black;
} 

.inputDiv {
    margin-top: 0px;
    margin-bottom: 25px;
}

.input {
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 1rem;
    width: 100%;
}

    
.card{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

}
